.entities-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.entities-table thead th {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  padding: 8px;
  text-align: left;
  cursor: pointer;
}

.entities-table tbody tr:nth-child(even) {
  background-color: var(--background-modifier-even);
}

.entities-table tbody tr:hover {
  background-color: var(--background-modifier-hover);
}

.entities-table th, .entities-table td {
  border: 1px solid var(--background-modifier-border);
  padding: 8px;
  text-align: left;
}

.add-entity-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.add-entity-container label {
  display: flex;
  flex-direction: column;
}

.add-entity-container input {
  width: 150px;
  padding: 5px;
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
}

.add-entity-container button {
  padding: 8px;
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  margin-top: 20px;
}

.add-entity-container button:hover {
  background-color: var(--interactive-accent-hover);
}

.save-indicator {
  background-color: var(--interactive-accent);
}

.entities-table input {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
}
