@import '../styles/variables.scss';

.header {
  background-color: var(--background-secondary);
  color: var(--text-accent);
  padding: 1em;
  text-align: center;
}

.tabs-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--color-purple);
}

.tab {
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  margin: 0;
  font-size: 1.2em;
  color: var(--text-muted);
  transition: color 0.3s, border-bottom 0.3s, background-color 0.3s;

  &:focus {
    outline: none; // Remove the focus outline
  }

  &:hover {
    background-color: var(--background-modifier-hover); // Add a background color on hover
  }

  &.active {
    color: var(--text-normal);
    border-bottom: 2px solid var(--interactive-accent);
    background-color: var(--background-modifier-active); // Add a background color to the active tab
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-primary);
  color: var(--text-normal);
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 500px;
  width: 90%;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.modal-body {
  margin-bottom: 1em;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.modal-footer button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
  transition: background-color 0.3s;
}

.modal-footer button:hover {
  background-color: var(--interactive-accent-hover);
}
