@import '../styles/variables.scss';

.tabs-container {
  display: flex;
  justify-content: space-between;
  height: 4em;
  background-color: green;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  color: var(--text-normal); /* Obsidian variable for text color */
  cursor: pointer;
  background: none; /* Remove default button background */
  border: none; /* Remove default button border */
  outline: none; /* Remove default focus outline, consider a custom focus style for accessibility */
  
  &:hover {
    background-color: var(--background-modifier-hover); /* Obsidian variable for hover state */
  }
}

/* Ensure focus styles are accessible */
.tab:focus {
  /* Example focus style, adjust as needed */
  box-shadow: 0 0 0 2px var(--text-normal);
}

.tab.active {
  background-color: green; // Example active tab 
  color: green;
}

