.text-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  transition: opacity 0.5s;
  max-width: 200px;
}

.text {
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;

  .title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .keypoints {
    font-size: 1rem;
    text-align: left;
    padding-left: 1rem;

    li {
      margin-bottom: 0.3rem;
    }
  }
}
