/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
/* Sidebar.css */
.my-sidebar {
    padding: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 32px;
}
