.slider-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
  }

  .slider-container input {
    width: 100%;
  }

  .value-label {
    text-align: right;
  }